@tailwind base;
@tailwind components;
@tailwind utilities;


*::selection{
  background-color: red;
  color: black;
}
body {
  background-color: rgba(0, 0, 0, 0.98);
  color: white;
  font-family: "Cinzel Variable", serif;
  overflow-x: hidden;
}
.my-font {
  font-family: "Dancing Script Variable", cursive;
}

.anime {
  animation: anime 10s infinite;
}

.games {
  animation: games 10s infinite;
}

.people {
  animation: people 10s infinite; 
}

@keyframes anime {
  0%,
  36%,
  48%,
  60%,
  72%,
  84%,
  90%,
  100% {
    width: 0rem;
  }

  12%,
  24% {
    width: 18.6rem;
  }
}

@keyframes games {
  0%,
  12%,
  24%,
  36%,
  72%,
  84%,
  90%,
  100% {
    width: 0rem;
  }

  48%,
  60% {
    width: 18rem;
  }
}

@keyframes people {
  0%,
  12%,
  24%,
  36%,
  48%,
  60%,
  72%,
  100% {
    width: 0rem;
  }

  84%,
  90% {
    width: 6.875rem;
  }
}

.layer {
  background-color: rgb(132, 1, 1);
  width: 100%;
  height: 30%;
  top: 50%;
  z-index: -1;
  left: 0;

}
.header:hover .layer{
  height: 100%;
  top: 0;
}
